* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.image {
	height: 100%;
	width: 100%;
	border: solid 1px black;
}

.skybluE {
	background-color: lightskyblue;
}

.imagebg {
	background-image: url(https://img.freepik.com/free-photo/uranus-sky-night-background-asset-game-2d-futuristic-generative-ai_191095-2033.jpg?size=626&ext=jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

html {
	scroll-behavior: smooth;
}